{% extends 'base.html' %}

{% block scripts %}
    <script src='/static/js/appointment_list.js'></script>
{% endblock %}

{% block content %}
<table class='table table-hover'>
    <tr>
        <th>
            Appointment Time
        </th>
        <th>
            Patient Name
        </th>
        <th>
            Checked In?
        </th>
        <th>
            Time Waiting
        </th>
    </tr>
    {% for appointment in data %}
        <tr class="{% if appointment.checked_in %}checked_in{% endif %}" >

            <td>{{ appointment.appointment.scheduled_time }}</td>
            <td>
                {{ appointment.patient.first_name }}
                {{ appointment.patient.last_name }}
            </td>
            <td>
                {% if appointment.started %}
                    Started
                {% elif appointment.checked_in %}
                    Checked In
                {% else %}
                    Has Not Arrived
                {% endif %}
            </td>
            <td
                class='time_waiting'
                {% if appointment.checked_in %}
                    data-checkin-time={{ appointment.checkin.check_in_time|date:"U" }}
                {% endif %}
                {% if appointment.started %}
                    data-start-time={{ appointment.checkin.started_at|date:"U"}}
                {% endif %}
            ></td>
            <td class='start_appointment'>
                {% if appointment.checked_in and not appointment.started %}
                <form method='POST'>
                    {% csrf_token %}
                    <input type='hidden' class='timezoneoffset' name='timezoneoffset' />
                    <input type='hidden' name='appointment_id' value='{{ appointment.appointment.id }}' />
                    <button type='submit' value='Start Appointment'>Start Appointment</button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% if average_wait != None %}
    <h1>Your average wait time is {{ average_wait }} minutes</h1>
{% else %}
    <h1>You have never seen a patient who checked in, what are you even doing, there are lives to save!</h1>
{% endif %}
{% endblock %}