{% extends 'base.html' %}

{% load checkin_form_tags %}

{% block content %}

<h1>Good news, you have an appointment at {{ appointment.scheduled_time }}</h1>
<h2>Please take a second to update your information</h2>

<form method='POST' action='/complete_check_in' class='form-horizontal'>
    {% csrf_token %}
    <input type='hidden' class='timezoneoffset' name='timezoneoffset' />
    <input type='hidden' name='patient_id' value='{{ patient.id }}' />
    <input type='hidden' name='appointment_id' value='{{ appointment.id }}' />
    <div class='form-group'>
        <label class='col-sm-3 control-label' for='gender'>Gender</label>
        <div class='col-sm-9'>
            <select class='form-control' name='gender'>
                {% for gender in gender_list %}
                    <option value='{{ gender }}' {% if patient.gender == gender %}selected='selected'{% endif %}>
                        {{ gender }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% simple_form_field 'date_of_birth' 'Date of Birth' 'date' patient.date_of_birth %}
    {% simple_form_field 'email' 'Email' 'text' patient.email %}
    {% simple_form_field 'address' 'Address' 'text' patient.address %}
    {% simple_form_field 'city' 'City' 'text' patient.city %}
    {% simple_form_field 'cell_phone' 'Cell Phone' 'text' patient.cell_phone %}
    {% simple_form_field 'emergency_contact_name' 'Emergency Contact Name' 'text' patient.emergency_contact_name %}
    {% simple_form_field 'emergency_contact_phone' 'Emergency Contact Phone' 'text' patient.emergency_contact_phone %}
    {% simple_form_field 'emergency_contact_relation' 'Emergency Contact Relation' 'text' patient.emergency_contact_relation %}
    {% simple_form_field 'employer' 'Employer' 'text' patient.employer %}

    <input type='submit' class='btn btn-primary' value='Check-in' />

</form>
{% endblock %}