{% extends 'base.html' %}
{% block content %}
<h1>Hello Friend, please check in</h1>
<form method='POST' action='/patient_search_result'>
    {% csrf_token %}
    <input type='hidden' class='timezoneoffset' name='timezoneoffset' />
    <div class='form-group'>
        <label for='first_name'>First Name:</label>
       <input type='text' class='form-control' name='first_name' />
    </div>
    <div class='form-group'>
        <label for='last_name'>Last Name</label>
        <input type='text' class='form-control' name='last_name' />
    </div>
    <div class='form-group'>
        <label for='ssn'>SSN (optional)</label>
       <input type='password' class='form-control' name='ssn' />
    </div>
    <input class='btn btn-default' type='submit' value='Check In' />
</form>
{% endblock %}
