{% extends 'base.html' %}
{% block content %}
    <h1>Thanks for checking in, your information has been updated and the doctor will see you shortly</h1>
{% endblock %}

{% block scripts %}
<script type='text/javascript'>
    window.setTimeout(function() {
        window.location.href = '/check_in'
    }, 10 * 1000)
</script>
{% endblock %}