{% extends 'base.html' %}
{% block content %}
    {% if is_logged_in %}
        <h1>Congratz, you are authenticated</h1>
        <a href='/appointment_list' class='btn btn-primary'>Go To Appointment List</a>
        <a href='/check_in' class='btn btn-primary'>Go To Patient Check In Kiosk</a>
    {% else %}
        <h1>Log in to enable DrChrono checkin kiosk</h1>

        <a class='btn btn-primary' href="{% url 'social:begin' 'drchrono' %}">
            drchrono OAuth
        </a>
    {% endif %}

{% endblock %}
