<div class='form-group'>
    <label class='col-sm-3 control-label' for='{{ field_name }}'>{{ field_description }}</label>
    <div class='col-sm-9'>
        <input
            type='{{ input_type }}'
            class='form-control'
            name='{{ field_name }}'
            id='{{ field_name }}'
            value='{{ value }}' />
    </div>
</div>